/*add cart*/

.addCart{
    position:absolute;
    right:1rem;
    text-align:right;
    top:1rem;
}
.addCart input{
    width:30%;
}
.addCart button{
    background:none;
    border:none;
    color:green;
    cursor:pointer;
    font-size:1.5rem;
}
