header{
    font-size: 0;
    position:relative;
    width:100%;
}
header img{
    height:auto;
    width:100%;
}

/*CRUD form*/
header .create, .update{
    background: linear-gradient(to bottom, white 30%, #f2f2f2);
    border-bottom:none;
    box-sizing:border-box;
    padding:1rem;
    width:100%;
}

header .create input, .update input{
    box-sizing:border-box;
    font-size:1.5rem;
    width:79%;
}
header .create button, .update button{
    font-size:1.5rem;
    overflow:hidden;
    width:20%;
}

/*update form*/
header .update select{
    font-family:'Zilla Slab';
    font-size:1.5rem;
    margin-right:4%;
    width:30%;
}

header .update input{
    width:45%;
}



/*categories list*/
.categories{
    margin-bottom: 2rem;
}

.categories li{
    background: linear-gradient(to bottom, white 30%, #f2f2f2);
    box-sizing:border-box;
    color:black;
    display:inline-block;
    font-size:1.5rem;
    overflow:hidden;
    padding:1rem;
    position:relative;
    text-align:center;
    width:50%;
    white-space:nowrap;
    vertical-align: bottom;
}

.categories li a{
    cursor:pointer;
}

.categories li:hover{
    background:#99ddff;
}

.categories .select{
    background:#66ccff;
    color:white;
}

@media screen and (min-width: 768px){
    .categories li{
        width:16.666%;
    }
}