body{
    font-family:'Zilla Slab';
}
input{
    border:1px solid darkgrey;
}
a{
    color:black;
    text-decoration:none;
}
.container{
    margin: 0 0;
}

@media screen and (min-width: 768px){
    .container{
        margin: 0 15%;
    }
}